/*  your css code here. If applicable */
:root{
	background-color: skyblue;
}
p:first-child{
	background-color: black;
	color:white;
	margin-top: 0;
}
p:nth-child(4){
	color: red;
}
li:first-child{
	background-color: white;
}
li:nth-child(2){
	background-color: #6F7F90;
}
li:nth-child(3){
	background-color: pink;
}
li:nth-child(4){
	background-color: #6F7F90;
}
li:last-child{
	background-color: white;
}